body{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    background-color: rgb(136, 202, 202);
}

section{
    display: flex;
   justify-content: space-between;
   align-items: center;
   gap: 30px;
}
.text-h1{
    font-size: 70px;
}

.text-div1 .image-div1{
    height: 50%;
    width: 50%;
}

#image-div1{
    height: 400px;
    padding: 30px;
    
}
#colorful_name{
    color:blue;

}
#colorful_name:hover{
    color: crimson;
    transition: 1s;
}

.text-div2{
font-size: 30px;
}

.text-div-p{
    font-size:20px ;
}

.button{
    font-size: 15px;
  padding: 10px 25px;
border-radius: 10px;
background-image: linear-gradient(orange, tomato);
color:white;
border: none;
}

.button:hover{
    background-image: linear-gradient( orange,tomato (255, 0, 0),);
    transition: 1s;

}

#text-div1{
    padding: 0 0 0 20px;
}

#section_2{
    display: flex;
   justify-content: space-between;
   align-items: center;
   gap: 30px;
}